*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: green;
    display: flex;
    height: 50px;
    align-items: center;

}

main{
    background-color: beige;
}

aside{
    background-color: red;

}

footer{
    background-color: green;
}